include tomopal/crtomopy/data/demo/demo_data.dat
include tomopal/crtomopy/data/demo/demo_elecs.dat
include tomopal/crtomopy/data/demo/demo_elevation.dat
include tomopal/crtomopy/demo/pjt_demo.py
include tomopal/crtomopy/ip/MtoPhase.cfg